body {
    margin: 60px auto;
    width: 70%;

  /* Location of the image */
  /*background-image: url(https://cdnb.artstation.com/p/assets/images/images/000/973/587/large/tim-barton-sunset-nebula-1600.jpg?1437337636);*/
  background-image: url(https://hdwallsource.com/img/2016/7/keyboard-glow-wallpaper-50586-52278-hd-wallpapers.jpg);
    
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    /*color: #f2f2f2;*/
    color: #ffffff;
}
a:hover {
    text-decoration: underline;
}
p {
    /*font-size: 3;*/
    line-height: 1.4em;
    color: #ffffb3;
    text-align: center;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
    color: #ffffff;
}
h2 {
    text-align: center;
    color: #ffffff;
}
h3 {
    text-align: center;
    color: #ffffff;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

img.avatar { 
    margin-bottom: 30px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.img-circle {
  border-radius: 50%;
}

ul.posts li {
    list-style: none;
}
