<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/pages.css">
			<link rel="stylesheet" type="text/css" href="/css/icons.css">
			<!--<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">-->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">Publications</a></li>
				<li><a href="/contact">Contact</a></li>
	        		<!--<li><a href="/blog">Blog</a></li>-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a class="link" href="mailto:amcaar@i3m.upv.es">email</a></li>
	        		<li><a class="link" href="https://github.com/amcaar">github.com/amcaar</a></li>
				<li><div itemscope itemtype="https://schema.org/Person" style="text-align: right"><a itemprop="sameAs" content="https://orcid.org/0000-0002-9018-9171" href="https://orcid.org/0000-0002-9018-9171" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0002-9018-9171</a></div></li>
				</ul>
			</footer>
		</body>
	</html>
